  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*styling slide show here*/
  .slideshow-container{
    position: relative;
    margin: 5px 0 0 0;
    max-height: 500px;
  }

  .myslides{
    display: none;
  }

  .prev,
  .next{
    cursor: pointer;
    position: absolute;
    top: 50px;
    width: auto;
    margin-top: 22px;
    padding:16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next
  {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover
  {
    background-color: grey;
  }

  .text
  {
    color:black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
  }

  .numbertext
  {
    color: goldenrod;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .dot
  {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px; 
    background-color: grey;
    border-radius: 50px;
    display: inline-block;
    transition:color 0.6s ease;
  }

  .active,
  .dot:hover
  {
    background-color: goldenrod;
  }

  .fade
  {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade
  {
    from
    {
        opacity: 0.1;
    }
    to
    {
        opacity: 1;
    }
  }



  
         body
        {
         font-family:sans-serif;  
         background-color:black;
         background-image:url(../img/background.jpg);
         color: white;
        }
        nav
        {
            background-color: white;
            box-shadow: 0 , 2px 6px rgba(202, 210, 212, 0.546) ;
            position: sticky;
            top: 0;
            z-index: 1000;

        }

        .navbar
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 3px;
            height: 60px;

        }

        .nav-links
        {
            list-style: none;
            display: flex;
            gap: 30px;

        }

        .nav-links li
        {
            position: relative;

        }

        .nav-links a
        {
            color: black;
            padding: 8px 12px;
            display: block;
            transition: backgroud 0.3s;

        }
        .nav-links a:hover
        {
            background-color:grey;
            border-radius: 4px;

        }

        .submenu
        {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: black;
            list-style: none;
            min-width: 4px;
            z-index: 100;
        }

        .submenu li a
         {
            padding: 10px 15px;
            color:gold;
        }

        .submenu li a:hover
        {
            background-color: white;
        }

        @media(min-width:769px){
            .nav-links li:hover>.submenu{
                display: block;
            }
        }

        .hamburger{
            display: none;
            flex-direction: column;
            cursor: pointer;
            gap: 4px;
        }

        .hamburger span
        {
            display: block;
            height: 3px;
            width: 25px;
            background-color:goldenrod;
            margin: 4px 0;
            border-radius: 2px;
            transition: 0.3s;
        }

        @media (max-width:768px){
            .hamburger{
                display: flex;
            }

            .nav-links
            {
              position: absolute;  
              top: 60px;
              left: 0;
              background-color:gold;
              width: 100%;
              flex-direction: column;
              gap: 0;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.3s ease-out;
            }

            .nav-links a:hover
            {
                background-color:grey;
                border-radius: 2px;
            }

            .nav-links.open
            {
                max-height: 500px;
            }

            .nav-links li
            {
                width: 100%;
            }

            .submenu
            {
                position: static;
                display: none;
                background-color:black;
            }

            .submenu.open
            {
                display: block;
            }

            .nav-links a
            {
                padding: 15px;
            }
        }

        .hamburger.active span:nth-child(1){
            transform: rotate(45deg) translate(5px, 5px);
        }

        .hamburger.active span:nth-child(2){
            opacity: 0;
        }
        .hamburger.active span:nth-child(3){
            transform: rotate(-45deg) translate(5px, -5px);
        }

        #fname,
        #lname,
        #subject
        {
           width :100%;
           padding:12px;
           border:1px solid darkgray;
           border-radius: 4px;
           box-sizing: border-box;
           margin-top: 6px;
           margin-bottom: 16px;
           resize: vertical;
        }

        #submit
        {
            background-color:goldenrod;
            color: black;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #fname:hover,
        #lname:hover,
        #ename:hover,
        #subject:hover
        {
            border-color:goldenrod;
        }

        .container
        {
            border-radius: 5px;
            background-color:black;
            padding: 20px;
            margin: 10px 500px 100px 500px;
        }

        /*Footer styling starts here*/
        footer
        {
            background-color: white;
            color: black;
            padding: 60px 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 40px;
        }

        .footer-logo h2
        {
            font-size: 24px;
            margin: 10px;
            color:black;
        }

        .footer-logo p
        {
            font-size: 14px;
            line-height: 1.6;
            color:goldenrod;
        }

        .footer-links ul
        {
            list-style: none;
            padding: 0;
        }

        .footer-links ul li
        {
            margin-bottom: 10px;
        }
        
        .footer-links ul li a
        {
            color:goldenrod;
            text-decoration: none;
            transition: color 0.3s;
        }

        .footer-links ul li a:hover
        {
            color: black;
        }

            .footer-contact p
            {
                font-size: 14px;
                margin: 8px 0;
            }

            .footer-socials a
            {
                display: inline-block;
                margin-right: 10px;
                color:goldenrod;
                text-decoration: none;
            }

            .footer-newsletter input[type="email"]
            {
                padding: 10px;
                border: none;
                border-radius: 4px 0 0 4px;  
            }

            .footer-newsletter button
            {
                padding: 10px 20px;
                border: none;
                background-color:goldenrod;
                color: black;
                border-radius: 0;
                cursor: pointer;
                transition: background-color 0.3s;
            }

            .footer-newsletter button:hover
            {
                background-color:grey;
            }

            .footer-bottom
            {
               background-color: white;
                text-align: center;
                padding: 15px;
                font-size: 13px;
                color: black;
            }

            @media (max-width: 768px) {
                footer {
                    text-align: center;
                }
                .footer-newsletter input [type="email"] {
                    width: 100%;
                    border-radius: 4px;
                    margin-bottom: 10px;
                }

                .footer-newsletter button
                {
                    width: 100%;
                    border-radius: 4px;
                }

                
            }




